.navbar {
    background-color: var(--light-vlgr);
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 50px;
}
.container h3 {
    align-self: center;
}
.theme {
    display: flex;
    cursor: pointer;
}
.theme > * {
    align-self: center;
    padding: 5px;
}
