.search-bar i {
    position: absolute;
    left: 10px;
    color: rgb(218, 214, 214);
    top: 7px;
}
.search-bar {
    position: relative;
}
.search-bar input {
    padding: 5px 0 5px 30px;
    border-radius: 5px;
    width: 120%;
}
