.head-wrap {
    display: flex;
    justify-content: space-between;
}
.head-wrap > * {
    display: inline-block;
}
.content-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px auto;
}