:root {
  --night-dbl:hsl(209, 23%, 22%);
  --night-vdbl: hsl(207, 26%, 17%);
  --light-vdbl: hsl(200, 15%, 8%);
  --light-dgr: hsl(0, 0%, 52%);
  --light-vlgr: hsl(0, 0%, 98%);
  --mutual: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

